<a href="https://colab.research.google.com/github/DebK76/deep-learning-challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [1]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

# Check the updated DataFrame
print(application_df.head())

NameError: ignored

In [ ]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()

# Print the unique value counts
print(unique_value_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Print the value counts
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value for grouping less frequent application types
cutoff_value = 500

# Get the value counts of APPLICATION_TYPE
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Create a list of application types to be replaced
# Group less frequent types below the cutoff into 'Other'
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace application types in the 'APPLICATION_TYPE' column with 'Other' for values in application_types_to_replace
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, 'Other')

# Check the updated value counts of APPLICATION_TYPE column
application_type_counts_after_binning = application_df['APPLICATION_TYPE'].value_counts()

# Print the updated value counts
print(application_type_counts_after_binning)

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Print the value counts
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]

# Print the value counts where count is greater than 1
print(classification_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_cutoff = 100

# Get the value counts of CLASSIFICATION
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Create a list of classifications to be replaced
# Group less frequent classifications below the cutoff into 'Other'
classifications_to_replace = classification_counts[classification_counts < classification_cutoff].index.tolist()

# Replace classifications in the 'CLASSIFICATION' column with 'Other' for values in classifications_to_replace
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check the updated value counts of CLASSIFICATION column
classification_value_counts_after_binning = application_df['CLASSIFICATION'].value_counts()
print(classification_value_counts_after_binning)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)

dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=128, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               6400

 dense_1 (Dense)             (None, 64)                8256

 dense_2 (Dense)             (None, 1)                 65

=================================================================
Total params: 14721 (57.50 KB)
Trainable params: 14721 (57.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [ ]:
# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=50, verbose=1)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.5685 - accuracy: 0.7233
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5543 - accuracy: 0.7277
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7308
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7311
Epoch 5/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5482 - accuracy: 0.7322
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7339
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7329
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7330
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - accuracy: 0.7325
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7349
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7334
Epoch 12/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - accuracy: 0.7352
Epoch 13/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5431 - accuracy: 0.7353
Epoch 14/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5417 - accuracy: 0.7358
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7359
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7364
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7353
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7374
Epoch 19/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5400 - accuracy: 0.7365
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7372
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7360
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7376
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7381
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7376
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7380
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7371
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.7387
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7381
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7367
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5374 - accuracy: 0.7380
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7393
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5365 - accuracy: 0.7389
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7383
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7387
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7393
Epoch 36/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5364 - accuracy: 0.7397
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7395
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5360 - accuracy: 0.7396
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7403
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7395
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7393
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5348 - accuracy: 0.7399
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7389
Epoch 44/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5349 - accuracy: 0.7395
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7397
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7400
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7398
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7396
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7408
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5342 - accuracy: 0.7399

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5677 - accuracy: 0.7317 - 508ms/epoch - 2ms/step
Loss: 0.5677433609962463, Accuracy: 0.7316617965698242

In [ ]:
# Export our model to HDF5 file
filepath = r"C:\Users\debbi\OneDrive\Documents\GitHub\deep-learning-challenge\HDF5.h5"
nn.save(filepath, save_format='h5')