<a href="https://colab.research.google.com/github/DebK76/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

# Check the updated DataFrame
print(application_df.head())

  APPLICATION_TYPE       AFFILIATION CLASSIFICATION      USE_CASE  \
0              T10       Independent          C1000    ProductDev
1               T3       Independent          C2000  Preservation
2               T5  CompanySponsored          C3000    ProductDev
3               T3  CompanySponsored          C2000  Preservation
4               T3       Independent          C1000     Heathcare

   ORGANIZATION  STATUS     INCOME_AMT SPECIAL_CONSIDERATIONS  ASK_AMT  \
0   Association       1              0                      N     5000
1  Co-operative       1         1-9999                      N   108590
2   Association       1              0                      N     5000
3         Trust       1    10000-24999                      N     6692
4         Trust       1  100000-499999                      N   142590

   IS_SUCCESSFUL
0              1
1              1
2              0
3              1
4              1

In [3]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()

# Print the unique value counts
print(unique_value_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Print the value counts
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value for grouping less frequent application types
cutoff_value = 500

# Get the value counts of APPLICATION_TYPE
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Create a list of application types to be replaced
# Group less frequent types below the cutoff into 'Other'
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace application types in the 'APPLICATION_TYPE' column with 'Other' for values in application_types_to_replace
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app, 'Other')

# Check the updated value counts of APPLICATION_TYPE column
application_type_counts_after_binning = application_df['APPLICATION_TYPE'].value_counts()

# Print the updated value counts
print(application_type_counts_after_binning)

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Print the value counts
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_greater_than_1 = classification_counts[classification_counts > 1]

# Print the value counts where count is greater than 1
print(classification_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [11]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_cutoff = 100

# Get the value counts of CLASSIFICATION
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Create a list of classifications to be replaced
# Group less frequent classifications below the cutoff into 'Other'
classifications_to_replace = classification_counts[classification_counts < classification_cutoff].index.tolist()

# Replace classifications in the 'CLASSIFICATION' column with 'Other' for values in classifications_to_replace
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Check the updated value counts of CLASSIFICATION column
classification_value_counts_after_binning = application_df['CLASSIFICATION'].value_counts()
print(classification_value_counts_after_binning)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [29]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)

dummies.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [30]:
# Split our preprocessed data into our features and target arrays
y = dummies['IS_SUCCESSFUL'].values
X = dummies.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [31]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [32]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = X_train_scaled.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=128, activation='relu', input_dim=input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 128)               6400

 dense_4 (Dense)             (None, 64)                8256

 dense_5 (Dense)             (None, 1)                 65

=================================================================
Total params: 14721 (57.50 KB)
Trainable params: 14721 (57.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [33]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [34]:
# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=50, verbose=1)

Epoch 1/50
804/804 [==============================] - 2s 1ms/step - loss: 0.5655 - accuracy: 0.7233
Epoch 2/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5527 - accuracy: 0.7309
Epoch 3/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5485 - accuracy: 0.7323
Epoch 4/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5471 - accuracy: 0.7330
Epoch 5/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5454 - accuracy: 0.7324
Epoch 6/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5448 - accuracy: 0.7342
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7340
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7358
Epoch 9/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5423 - accuracy: 0.7348
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7353
Epoch 11/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7361
Epoch 12/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7375
Epoch 13/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7380
Epoch 14/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7367
Epoch 15/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5393 - accuracy: 0.7375
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7385
Epoch 17/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7381
Epoch 18/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7379
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7392
Epoch 20/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7386
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7397
Epoch 22/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7390
Epoch 23/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7399
Epoch 24/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7398
Epoch 25/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7400
Epoch 26/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7387
Epoch 27/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5365 - accuracy: 0.7396
Epoch 28/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7407
Epoch 29/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7404
Epoch 30/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7406
Epoch 31/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7398
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7400
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5347 - accuracy: 0.7402
Epoch 34/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7401
Epoch 35/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7409
Epoch 36/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7407
Epoch 37/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7407
Epoch 38/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7407
Epoch 39/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7408
Epoch 40/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7408
Epoch 41/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7406
Epoch 42/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7415
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5335 - accuracy: 0.7411
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5328 - accuracy: 0.7412
Epoch 45/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5333 - accuracy: 0.7416
Epoch 46/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7416
Epoch 47/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7420
Epoch 48/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7414
Epoch 49/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5324 - accuracy: 0.7417
Epoch 50/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5321 - accuracy: 0.7407

In [35]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5625 - accuracy: 0.7215 - 356ms/epoch - 1ms/step
Loss: 0.5624632239341736, Accuracy: 0.7215160131454468

In [36]:
# Export our model to HDF5 file
filepath =

OSError: ignored